<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>МАК-карты</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Метафорические ассоциативные карты (МАК)</h1>
        <h2>Прошлое</h2>
        <p>{{ cards_info.past }}</p>

        <h2>Настоящее</h2>
        <p>{{ cards_info.present }}</p>

        <h2>Будущее</h2>
        <p>{{ cards_info.future }}</p>

        <a class="btn btn-primary" href="/">Назад на главную</a>
    </div>
</body>
</html>

