<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Сайт психолога</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Добро пожаловать на сайт психолога</h1>
        <nav>
            <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="/">Главная</a></li>
                <li class="nav-item"><a class="nav-link" href="/cards/">МАК-карты</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact/">Контакты</a></li>
                <li class="nav-item"><a class="nav-link" href="/testimonials/">Отзывы</a></li>
                <li class="nav-item"><a class="nav-link" href="/blog/">Блог</a></li>
            </ul>
        </nav>
        <p>Здесь вы можете узнать о МАК-картах и их использовании в психологии.</p>
    </div>
</body>
</html>
